---
layout: page
title: Event Map
nav_order: 9
permalink: /map/
---

<!-- Leaflet CSS -->
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet/dist/leaflet.css"
/>

<div id="map" style="width:100%;height:600px;margin-bottom:1em;"></div>

<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
  // Initialize the map
  const centerLat = {{ site.data.map.center.latitude }};
  const centerLng = {{ site.data.map.center.longitude }};
  const centerZoom = {{ site.data.map.center.zoom }};
  const map = L.map('map').setView([centerLat, centerLng], centerZoom);

  // Add OpenStreetMap tiles
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; OpenStreetMap contributors'
  }).addTo(map);

  // Add markers from data file
  {% for loc in site.data.map.locations %}
    L.marker([{{ loc.latitude }}, {{ loc.longitude }}])
      .addTo(map)
      .bindPopup(
        `<strong>{{ loc.name }}</strong><br>` +
        `{{ loc.description }}<br>` +
        `<a href="{{ loc.url }}">View Phase</a>`
      );
  {% endfor %}
</script>
